@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  font-family: "Montserrat";
  box-sizing: border-box;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0093e9;
  background-image: linear-gradient(to right, #0093e9 0%, #80d0c7 100%);
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
  background-color: white;
  color: black;
  border: 1px solid grey;
  font-size: 16px;
}

button:hover {
  background-color: #e7e7e7;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  grid-column: 1 / -1;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.75);
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .next-operand {
  color: white;
  font-size: 2.5rem;
}

.span-two {
  grid-column: span 2;
}
